# Virtual Environment
venv/
__pycache__/
*.pyc

# Environment files
.env

# IDE / OS specific
.DS_Store
.vscode/
.idea/
.vs/

# Database files
site.db
*.sqlite
*.sqlite3
*.db
*.db-journal # For SQLite journal files
instance/    # Ignore the whole instance folder